.about {
    background-image: url(5295526.jpg);
    color: burlywood;
        
        font-variant: small-caps;
background-size: cover;
        
       
    min-height: 100vh;
    
}

.img {

    border-color: burlywood;
    
    


    
}



